
html{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family:Poppins;
 
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
#tsparticles{
  height: 100vh;
  position: absolute;
}
.App {
  background-color: #000;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
  background: #000;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5b34ea; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4325ad; 
}
